/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: address_table;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	max-id: 4;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	font-weight: bold;
	cell-content-style-tag: p;
	text-align: left;
	vertical-align: top;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	separator-style: none;
	separator-width: 0px;
	cell-content-style-tag: p;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-content-style-tag: p;
	text-align: left;
	vertical-align: top;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-address_table
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-address_table-Column-Column1
{
	
}

.TableStyle-address_table-Column-Column2
{
	
}

.TableStyle-address_table-Head-Header1
{
	
}

.TableStyle-address_table-HeadI-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-HeadI-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-address_table-HeadE-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-address_table-HeadE-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-address_table-HeadF-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-address_table-HeadF-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-address_table-HeadH-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-address_table-HeadH-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-address_table-HeadD-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-address_table-HeadD-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-address_table-HeadC-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-HeadC-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-address_table-HeadB-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-address_table-HeadB-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-address_table-HeadA-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-HeadA-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-address_table-HeadG-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-HeadG-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-address_table-HeadI-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-HeadI-Column2-Header1 p
{
	
}

.TableStyle-address_table-HeadE-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-address_table-HeadE-Column2-Header1 p
{
	
}

.TableStyle-address_table-HeadF-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-address_table-HeadF-Column2-Header1 p
{
	
}

.TableStyle-address_table-HeadH-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
}

.TableStyle-address_table-HeadH-Column2-Header1 p
{
	
}

.TableStyle-address_table-HeadD-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-address_table-HeadD-Column2-Header1 p
{
	
}

.TableStyle-address_table-HeadC-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-HeadC-Column2-Header1 p
{
	
}

.TableStyle-address_table-HeadB-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
}

.TableStyle-address_table-HeadB-Column2-Header1 p
{
	
}

.TableStyle-address_table-HeadA-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-HeadA-Column2-Header1 p
{
	
}

.TableStyle-address_table-HeadG-Column2-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-HeadG-Column2-Header1 p
{
	
}

.TableStyle-address_table-Foot-Footer1
{
	
}

.TableStyle-address_table-FootI-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-FootI-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-address_table-FootE-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-address_table-FootE-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-address_table-FootF-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-address_table-FootF-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-address_table-FootH-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-address_table-FootH-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-address_table-FootD-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-address_table-FootD-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-address_table-FootC-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-FootC-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-address_table-FootB-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-address_table-FootB-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-address_table-FootA-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-FootA-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-address_table-FootG-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-FootG-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-address_table-FootI-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-FootI-Column2-Footer1 p
{
	
}

.TableStyle-address_table-FootE-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-address_table-FootE-Column2-Footer1 p
{
	
}

.TableStyle-address_table-FootF-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-address_table-FootF-Column2-Footer1 p
{
	
}

.TableStyle-address_table-FootH-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
}

.TableStyle-address_table-FootH-Column2-Footer1 p
{
	
}

.TableStyle-address_table-FootD-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-address_table-FootD-Column2-Footer1 p
{
	
}

.TableStyle-address_table-FootC-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-FootC-Column2-Footer1 p
{
	
}

.TableStyle-address_table-FootB-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
}

.TableStyle-address_table-FootB-Column2-Footer1 p
{
	
}

.TableStyle-address_table-FootA-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-FootA-Column2-Footer1 p
{
	
}

.TableStyle-address_table-FootG-Column2-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-FootG-Column2-Footer1 p
{
	
}

.TableStyle-address_table-Body-Body1
{
	
}

.TableStyle-address_table-BodyI-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-BodyI-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-address_table-BodyE-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-address_table-BodyE-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-address_table-BodyF-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-BodyF-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-address_table-BodyH-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-address_table-BodyH-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-address_table-BodyD-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-BodyD-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-address_table-BodyC-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-BodyC-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-address_table-BodyB-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-address_table-BodyB-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-address_table-BodyA-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-BodyA-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-address_table-BodyG-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-BodyG-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-address_table-BodyI-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-BodyI-Column2-Body1 p
{
	
}

.TableStyle-address_table-BodyE-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
}

.TableStyle-address_table-BodyE-Column2-Body1 p
{
	
}

.TableStyle-address_table-BodyF-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-BodyF-Column2-Body1 p
{
	
}

.TableStyle-address_table-BodyH-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
}

.TableStyle-address_table-BodyH-Column2-Body1 p
{
	
}

.TableStyle-address_table-BodyD-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-BodyD-Column2-Body1 p
{
	
}

.TableStyle-address_table-BodyC-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-BodyC-Column2-Body1 p
{
	
}

.TableStyle-address_table-BodyB-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-style: none;
}

.TableStyle-address_table-BodyB-Column2-Body1 p
{
	
}

.TableStyle-address_table-BodyA-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-BodyA-Column2-Body1 p
{
	
}

.TableStyle-address_table-BodyG-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-address_table-BodyG-Column2-Body1 p
{
	
}


