/*<meta />*/

:root
{
	--Link: #424398;
	--Blue: #007DC3;
	--Dark: #000000;
}

body
{
	font-family: Century Gothic, Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}


.body-container
{
	padding-left: 2%;
	padding-top: 2%;
	mc-hidden: hidden;
}

/* Content */

img
{
	border: none;
	max-width: 100%;
}

p
{
	font-family: Century Gothic, Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: normal;
}

/* Headings */

h1
{
	font-weight: bold;
	font-size: 24.0pt;
	color: var(--Blue);
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
	color: var(--Blue);
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
	color: var(--Blue);
}

h4
{
	font-weight: bold;
	font-size: 16px;
	color: var(--Blue);
}

h5
{
	font-weight: bold;
	font-size: 14px;
	color: var(--Blue);
}

h6
{
	font-weight: bold;
	font-size: 12px;
	color: var(--Blue);
}

MadCap|breadcrumbsProxy
{
	border-bottom-width: 0;
	color: #808080;
	font-size: 10pt;
	font-style: italic;
}

/* Links */

a
{
	color: var(--Link);
}

a:link
{
	color: var(--Link);
}

a:visited
{
	color: var(--Link);
}

MadCap|dropDown
{
	border-bottom: 1px solid #333333;
	mc-image-position: left;
	mc-image-spacing: 10px;
	mc-open-image: url('../Images/Minus.png');
	mc-closed-image: url('../Images/Plus.png');
	padding: 10px 0;
}

MadCap|dropDownBody
{
	padding: 10px 30px 0;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	text-decoration: none;
	font-size: 20pt;
	font-weight: bold;
	border-bottom: none;
}

MadCap|expandingBody
{
	font-style: italic;
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
}

MadCap|xref
{
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
	color: var(--Link);
}

/* Lists */

li,
li p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

ol,
ul
{
	line-height: normal;
	margin-top: 0px;
	margin-bottom: 0px;
}

li p.cell
{
	line-height: normal;
	margin: 0;
}

ul.itemizedlist
{
	line-height: normal;
	margin: 0;
	list-style-type: disc;
}

li.listitem,
li.listitem p
{
	font-size: 14px;
}

/* Master page */

div.home-footer
{
	padding: 2% 5%;
}

.home-footer-logo
{
	background-repeat: no-repeat;
	background-position: right center;
	width: 400px;
	mc-hidden: hidden;
}

p.footer
{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 13pt;
	text-align: center;
}

p.footer-sub
{
	font-size: 10pt;
	margin-top: 14px;
}

p.cell,
td p,
td
{
	font-size: 16px;
	line-height: normal;
	margin: 3px;
	font-family: Century Gothic, Verdana, Arial, Helvetica, sans-serif;
	vertical-align: text-top;
}

th {
	font-size: 16px;
	line-height: normal;
	margin: 3px;
	font-family: Century Gothic, Verdana, Arial, Helvetica, sans-serif;
	vertical-align: text-bottom;
}

tr:hover p,
tr:hover
{
	background-color: #FFFF85;
	mc-hidden: hidden;
}



div.footer
{
	
}


@media tablet
{
	html.home-topic .body-container
	{
		margin-left: 0;
	}
}

@media mobile
{
	.home-footer-logo
	{
		padding: 20px;
		background-origin: content-box;
		background-size: contain;
	}
}

@media print
{
	/* Links */

	MadCap|xref
	{
		font-weight: normal;
		mc-format: '{quote}{para}{quote} {pageref}';
		text-decoration: none;
	}
}

span.registered
{
	color: red;
}

span.subscript
{
	font-size: xx-small;
	vertical-align: bottom;
}

p
{
	margin-top: 0px;
	margin-bottom: 0px;
}

.sect1
{
	text-align: left;
	mc-hidden: hidden;
}

.title
{
	text-align: left;
	color: var(--Blue);
	font-size: 24pt;
	padding: 0 0 10px 0;
}

.rotatedTableText0
{
	writing-mode: tb-lr;
	filter: flipv fliph;
	mc-hidden: hidden;
}

.rotatedTableText1
{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	mc-hidden: hidden;
}

table
{
	border-collapse: collapse;
}


div.footer p
{
	text-align: center;
	font-size: 9pt;
	mc-hidden: hidden;
}

p.tableTitle
{
	font-weight: normal;
	mc-auto-number-format: 'Table {n+}. ';
}

hr
{
	background-color: #068aca;
	color: var(--Blue);
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border: none 0px #000000;
	height: 1px;
}

/***** SEARH RESULTS *******/
#resultList .url cite {
    color: var(--Link);
    font-size: 10pt;
    font-style: normal;
}
#resultList .description {
    font-size: 10pt;
}
#resultList h3.title a {
    color: var(--Blue);
    font-size: 14pt;
	}
	
	
	
p.MiniTOC1_0 {
    font-family: Century Gothic, Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: normal;
    display: block;
    margin: 0;
    margin-left: 0pt;
    font-weight: normal;
}

a.MiniTOC1:hover {
    background-color: var(--Blue);
	color: white;
}